@if (dadosRua) {
<div class="card-container mt-3">
    <div class="row margin-input mt-1">
        <div class="col-10">
            <div class="card-content">
                <div class="text-content">
                    <h2>Rua {{dadosRua.rua}} - CD {{dadosRua.cd}}</h2>
                </div>
            </div>
        </div>
        <div class="col-2 text-end">
            <span class="badge default">{{dadosRua.paletesPorPosicao}} paletes por posição</span>
        </div>
    </div>

    <div class="row margin-input mb-3">
        @for(posicao of dadosRua.posicoes;track $index) {
        <div class="div-posicao mt-3">
            <div class="col-12 mb-2">
                <div class="card-content">
                    <span class="icon">
                        <span [innerHTML]="iconeCaixa"></span>
                    </span>
                    <div class="text-content">
                        <h3>Posição P-{{posicao.numero}}</h3>
                    </div>
                </div>
            </div>
            <div class="row wrap-sku">
                @for(palete of posicao.paletes;track $index) {
                <div class="div-sku align-itens mt-2" [ngClass]="getClasses(posicao.paletes, palete.status)">

                    @if (palete.status === 0) {
                    <span class="icone" [innerHTML]="iconeLido"></span>
                    } @else if (palete.status === 1) {
                    <span class="icone" [innerHTML]="iconeCamera"></span>
                    } @else if (palete.status === 2) {
                    <span class="icone" [innerHTML]="iconeVazio"></span>
                    }

                    <span class="font-semibold text-xs mt5">PAL-{{palete.posicao}}</span>
                    <span class="text-xs bg-white mb5" *ngIf="palete.codigo">{{palete.codigo}}</span>
                    @if (palete.status === 0) {
                    <span (click)="detalhesModal(palete)" class="icone" [innerHTML]="iconeCamera"></span>
                    } @else if (palete.status === 1) {
                    <div (click)="detalhesModal(palete)">
                        <span class="icone" [innerHTML]="iconeCamera"></span>
                        <span class="icone-click" [innerHTML]="iconeClick"></span>
                    </div>
                    }
                </div>
                }

            </div>
        </div>
        }
    </div>

    <div class="row margin-input mt-1 mb-3">
        <div class="col-3">
            <div class="item azul-claro">
                <strong>{{dadosRua.totalizadores.totalPaletes}}</strong>
                <span>Total Paletes</span>
            </div>
        </div>

        <div class="col-3">
            <div class="item verde-claro">
                <strong>{{dadosRua.totalizadores.lidos}}</strong>
                <span>Lidos</span>
            </div>
        </div>

        <div class="col-3">
            <div class="item amarelo-claro">
                <strong>{{dadosRua.totalizadores.naoLidos}}</strong>
                <span>Não Lidos</span>
            </div>
        </div>

        <div class="col-3">
            <div class="item cinza">
                <strong>{{dadosRua.totalizadores.vazios}}</strong>
                <span>Vazios</span>
            </div>
        </div>
    </div>
</div>
}