<div class="card-container">
    <div class="row margin-input">
        <div class="col-12 mt-1 mb-3">
            <div class="card-content">
                <span class="icon">
                    <span [innerHTML]="iconeLocalizacaoAzul"></span>
                </span>
                <div class="text-content">
                    <h2>Visualização em Grid - Inventário por Paletes</h2>
                    <p>Visualize todas as posições de paletes de cada rua com status de leitura individual</p>
                </div>
            </div>
        </div>
        <div class="col-6">
            <label class="form-label">Centro de Distribuição</label>
            <ng-select placeholder="Selecione o CD" [items]="lstDistributionCenter" bindLabel="description"
                bindValue="value" [clearable]="false" [(ngModel)]="selectedCD"
                (change)="changeDistributionCenter($event)">
            </ng-select>
        </div>
        <div class="col-6">
            <label class="form-label">Rua</label>
            <ng-select placeholder="Selecione a Rua" [disabled]="lstStreets.length === 0" [items]="lstStreets"
                bindLabel="description" bindValue="value" [clearable]="false" [(ngModel)]="selectedStreet">
            </ng-select>
        </div>
    </div>

    <div class="row margin-input">
        <div class="col-12 mt-3 mb-3">
            <div class="legenda-status">
                <span class="status lido">
                    <span class="icone" [innerHTML]="iconeLido"></span>
                    Lido (clique para ver foto)
                </span>

                <span class="status nao-lido">
                    <span class="icone" [innerHTML]="iconeNaoLido"></span>
                    Não Lido (clique para ver foto)
                </span>

                <span class="status vazio">
                    <span class="icone" [innerHTML]="iconeVazio"></span>
                    Vazio
                </span>

                <span class="status editar">
                    <span class="icone" [innerHTML]="iconeClick"></span>
                    Ctrl+Click para editar manualmente
                </span>
            </div>

        </div>
    </div>
</div>

<div class="card-container mt-3" *ngIf="!selectedCD">
    <div class="row margin-input">
        <div class="p-12 text-center">
            <span class="icone-localizacao" [innerHTML]="iconeLocalizacaoCinza"></span>
            
            <h3>Selecione um CD para começar</h3>
            <p class="p-font form-label">Escolha um Centro de Distribuição e uma rua para visualizar o grid de paletes
            </p>
        </div>
    </div>
</div>

<div *ngIf="selectedCD && selectedStreet">
    <app-indicadores-tempo [indicador]="resultsViewGrid.indicadoresInventario"></app-indicadores-tempo>
    <app-inventario-resultado [dadosRua]="resultsViewGrid"></app-inventario-resultado>
</div>