.card-content {
    width: 98%;
}

.text-content h2,
h3 {
    margin: 0;
    font-size: 20px;
    font-weight: 600;
    color: #0f172a;
}

h3 {
    font-size: 14px !important;
}

.text-content p {
    margin: 4px 0 0 0;
    font-size: 14px;
    color: #475569;
}

.legenda-status {
    display: flex;
    gap: 24px;
    background-color: #f9fafb;
    padding: 12px 20px;
    border-radius: 10px;
    font-family: sans-serif;
    font-size: 14px;
    align-items: center;
    flex-wrap: wrap;
}

.status {
    display: flex;
    align-items: center;
    gap: 4px;
    color: #1f2937;
}

.icone {
    ::ng-deep svg {
        width: 16px;
        vertical-align: middle;
    }
}

.icone-localizacao {
    ::ng-deep svg {
        color: #d1d5db;
    }
}

.status.lido::ng-deep svg {
    color: #16a34a;
}

.status.nao-lido::ng-deep svg {
    color: #d97706;
}

.status.vazio::ng-deep svg {
    color: #9ca3af;
}

.status.editar::ng-deep svg {
    color: #2563eb;
}

h3 {
    font-size: 1.125rem;
    line-height: 1.75rem;
}

.icon-map {
    color: rgb(209 213 219);
}

.p-font {
    font-size: 14px !important;
}