.sku-card {
    background-color: #fff;
    border: 1px solid #e2e8f0;
    border-radius: 12px;
    padding: 16px;
    box-shadow: 0 0 0 transparent;
    transition: box-shadow 0.3s ease;
}

.sku-card:hover {
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.08);
}

.card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sku-info {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 18px;
}

.badge {
    font-size: 12px;
    padding: 5px 8px;
    border-radius: 12px;
}

.default {
    background-color: #f1f5f9;
    color: #0f172a;
}

.black {
    background-color: #0f172a;
    color: #f1f5f9;
}

.red {
    background-color: #ef4444;
    color: white;
}

.product-name {
    font-size: 16px;
    font-weight: 500;
}

.spanlabel {
    font-weight: 600;
    color: #0f172a;
}

.action-buttons {
    display: flex;
    flex-direction: column;
    gap: 8px;

    span {
        color: #0f172a !important;
    }
}

.justify-buttons {
    justify-content: right;
    display: flex;
}

.btn {
    padding: 6px 12px;
    border-radius: 8px;
    font-size: 14px;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 6px;
    transition: background-color 0.2s ease;
    border-color: #e2e8f0;
    color: #0f172a !important;
}

.btn:hover {
    background-color: #e2e8f0;
}

.margin-left {
    margin-left: 16px;
}

.text-content h2 {
    margin: 0;
    font-size: 20px;
    font-weight: 600;
    color: #0f172a;
}

.resumo-card {
    flex: 1;
    min-width: 160px;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    font-family: sans-serif;
}

.quantidade {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 4px;
}

.descricao {
    font-size: 14px;
    color: #334155;
}

.encontrados {
    background-color: #eef4ff;
}

.encontrados .quantidade {
    color: #2563eb;
}

.em-estoque {
    background-color: #ecfdf5;
}

.em-estoque .quantidade {
    color: #16a34a;
}

.baixo-estoque {
    background-color: #fffcf0;
}

.baixo-estoque .quantidade {
    color: #d97706;
}

.sem-estoque {
    background-color: #fef2f2;
}

.sem-estoque .quantidade {
    color: #dc2626;
}

.p-14 {
    padding: 14px;
}