:root {
  font-family: Inter;
}

.card {
    height: 155px;
}


.bg-card {
    background-color: white;
}
.border {
    border-width: 1px;
    border-color: #e2e8f0;
}

.rounded-lg {
    border-radius: .5rem;
}

.card-hover {
    transition-property: box-shadow;
    transition-timing-function: cubic-bezier(.4,0,.2,1);
    transition-duration: .15s;

  &:hover {
    
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.08) !important;
  }
}


svg {
  vertical-align: middle;
}