:root {
  font-family: Inter;
}

.dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  display: inline-block;
}

.list-group-item {
  border: none;
  border-bottom: 1px solid #e5e7eb;

  &:last-child {
    border-bottom: none;
  }
}


.font-medium {
  font-size: 1.2em;
}