<div class="row mb-2">
  <div class="col-md-6 col-xl-4">
    <div class="card">
      <div class="card-body">
        <div class="d-flex align-items-center justify-content-between">
          <div class="w-100">
            <h4 class="card-title mb-2 d-flex align-items-center gap-2 text-muted">Sucesso</h4>
            <p class="text-muted fw-medium fs-22 mb-0">
              765
            </p>
          </div>
          <div>
            <div class="avatar-md bg-success bg-opacity-10 rounded">
              <iconify-icon icon="solar:check-circle-line-duotone" class="fs-32 text-success avatar-title"></iconify-icon>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-6 col-xl-4">
    <div class="card">
      <div class="card-body">
        <div class="d-flex align-items-center justify-content-between">
          <div class="w-100">
            <h4 class="card-title mb-2 d-flex align-items-center gap-2 text-muted">Com Erro</h4>
            <p class="text-muted fw-medium fs-22 mb-0">
              32
            </p>
          </div>
          <div>
            <div class="avatar-md bg-danger bg-opacity-10 rounded">
              <iconify-icon icon="solar:close-circle-line-duotone" class="fs-32 text-danger avatar-title"></iconify-icon>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-6 col-xl-4">
    <div class="card">
      <div class="card-body">
        <div class="d-flex align-items-center justify-content-between">
          <div class="w-100">
            <h4 class="card-title mb-2 d-flex align-items-center gap-2 text-muted">Sem Importação</h4>
            <p class="text-muted fw-medium fs-22 mb-0">
              75
            </p>
          </div>
          <div>
            <div class="avatar-md bg-primary bg-opacity-10 rounded">
              <iconify-icon icon="solar:cloud-upload-broken" class="fs-32 text-primary avatar-title"></iconify-icon>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="card">
  <div class="card-header d-flex align-items-center justify-content-between gap-2">
    <h4 class="card-title text-muted">Imagems Importadas</h4>
    <div class="d-flex gap-1">
      <button type="button" class="btn btn-sm btn-outline-light">Tudo</button>
      <button type="button" class="btn btn-sm btn-outline-light">1M</button>
      <button type="button" class="btn btn-sm btn-outline-light">6M</button>
      <button type="button" class="btn btn-sm btn-outline-light active">1A</button>
    </div>
  </div>
  <div class="card-body">
    <div dir="ltr">
      <div id="dash-performance-chart" class="apex-charts">
        <apx-chart [series]="performanceChart.series!" [chart]="performanceChart.chart!"
          [stroke]="performanceChart.stroke!" [fill]="performanceChart.fill!" [markers]="performanceChart.markers!"
          [xaxis]="performanceChart.xaxis!" [yaxis]="performanceChart.yaxis!" [grid]="performanceChart.grid!"
          [legend]="performanceChart.legend!" [plotOptions]="performanceChart.plotOptions!"
          [colors]="performanceChart.colors!" [tooltip]="performanceChart.tooltip!"></apx-chart>
      </div>
    </div>
  </div>
</div>