<div class="row">
  <div class="col-12">
    <div class="card-container mt-3">
      <div class="card-content">
        <span class="icon">
          <span class="icone" [innerHTML]="iconePesquisaAzul"></span>
        </span>
        <div class="text-content">
          <h2>Consulta de Inventário</h2>
          <p>Pesquise e visualize o histórico de inventários dos SKUs ou visualize em grid por rua</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row mt-3">
  <div class="col-xl-12">
    <div class="toggle-buttons">
      <div class="col-6">
        <button class="btn" [ngClass]="{ selected: selected === 'sku' }" (click)="selected = 'sku'">
          <span class="icone" [innerHTML]="iconePesquisaCinza"></span>
          <span>Consulta por SKU</span>
        </button>
      </div>
      <div class="col-6">
        <button class="btn" [ngClass]="{ selected: selected === 'grid' }" (click)="selected = 'grid'">
          <span class="icone" [innerHTML]="iconeGrid"></span>
          <span>Visualização em Grid</span>
        </button>
      </div>
    </div>
  </div>
</div>

<div class="row mt-3">
  @if(selected === 'sku') {
  <app-consulta-sku></app-consulta-sku>
  } @else {
  <app-visualizacao-grid></app-visualizacao-grid>
  }
</div>