.btn-add {
    font-size: 28px;
    color: #014DDC;
}

.btn-save {
    font-size: 28px;
    color: #04CB47;
    margin-top: 24px;
    margin-right: 10px;
}

.btn-cancel {
    font-size: 28px;
    color: #C92B19;
    margin-top: 24px;
}