<div class="card white-content mb-0">
  <div class="card-header color backgroundPrimary">
    <h4 class="card-title">
      Dados da imagem
    </h4>
    <button (click)="closeModal()" type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
  </div>
  <div class="card-body">
    <div class="form-group">
      <div class="form-group form-margintop">
        <div class="row margin-input">
          <div class="col-lg-12 text-center">
            <img class="w-100" src="{{image.url}}" alt="imagem" />
          </div>
        </div>
        <div class="row margin-input mt-2">
          <div class="col-lg-12">
            <div class="form-group">
              <p class="mb-0"><span class="fw-medium text-dark">Nome da Imagem: </span>{{image.name}}</p>
            </div>
          </div>
        </div>
        <div class="row margin-input" *ngIf="image.code || image.message">
          <div [ngClass]="{ 'col-9': !image.code, 'col-12': image.code }">
            <div class="form-group">
              <p class="mb-0" *ngIf="image.code">
                <span class="fw-medium text-dark">Código:</span> {{image.code}} - {{image.code_type}}
                @if (image.manual_code) {
                Código inserido manualmente
                } @else {
                | {{image.message}}
                }

              </p>

              <p class="mb-0" *ngIf="!image.code">
                <span [class.required]="
                      sendCode && !code" class="fw-medium text-dark">Código: </span>
                @if (!isAddCode) {
                <span>{{image.message}}</span>
                }@else {
                <input class="form-control" type="text" placeholder="Informe o Código" [(ngModel)]="code" />
                }
              </p>
            </div>
          </div>
          <div class="col-3 text-end" *ngIf="!image.code && image.status.toUpperCase() === 'ERROR'">
            <div>
              @if (!isAddCode) {
              <iconify-icon (click)="addCode()" ngbTooltip="Clique para adicionar o código"
                icon="solar:add-circle-linear" class="btn-add align-middle icon-refresh cursor-pointer"></iconify-icon>
              }@else {
              <iconify-icon (click)="saveCode()" ngbTooltip="Salvar" icon="solar:check-circle-linear"
                class="btn-save align-middle icon-refresh cursor-pointer"></iconify-icon>

              <iconify-icon (click)="cancelCode()" ngbTooltip="Cancelar" icon="solar:close-circle-linear"
                class="btn-cancel align-middle icon-refresh cursor-pointer"></iconify-icon>
              }
            </div>
          </div>
        </div>
        <div class="row margin-input">
          <div class="col-lg-12">
            <div class="form-group">
              <p class="mb-0"><span class="fw-medium text-dark">Road:</span> {{image.road}}</p>
            </div>
          </div>
        </div>
        <div class="row margin-input">
          <div class="col-lg-12">
            <div class="form-group">
              <p class="mb-0"><span class="fw-medium text-dark" style="margin-right: 10px;">Status:</span>
                <span [ngClass]="{
                  'bg-success': image.status.toUpperCase() === 'SUCCESS' || image.status.toUpperCase() === 'APPROVED', 
                  'bg-info': image.status.toUpperCase() === 'PROCESSING', 
                  'bg-warning': image.status.toUpperCase() === 'WAITING_CONFIRMATION', 
                  'bg-danger': image.status.toUpperCase() === 'ERROR' || image.status.toUpperCase() === 'CANCELED'
                  }" class="badge text-white py-1 px-2 bg-success ml-1">
                  @if(image.status.toUpperCase() === 'SUCCESS'){
                  SUCESSO
                  } @else if(image.status.toUpperCase() === 'APPROVED'){
                  APROVADA
                  }@else if(image.status.toUpperCase() === 'PROCESSING') {
                  PROCESSANDO
                  }@else if(image.status.toUpperCase() === 'CANCELED') {
                  CANCELADA
                  }@else if(image.status.toUpperCase() === 'WAITING_CONFIRMATION') {
                  PENDENTE ANÁLISE
                  }@else{
                  ERRO
                  }
                </span>
              </p>
            </div>
          </div>
        </div>
        <div class="row margin-input">
          <div class="col-lg-12">
            <div class="form-group">
              <p class="mb-0"><span class="fw-medium text-dark">Data de Criação:</span> {{image.created_at | date :
                "dd/MM/yyyy HH:mm"}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="card-footer text-center">
    <div class="row">
      @if (image.status.toUpperCase() === 'WAITING_CONFIRMATION'){
      <div class="row justify-content-end g-2">
        <div class="col-lg-3">
          <button (click)="reprovedImage()" class="btn btn-danger w-100">Reprovar</button>
        </div>
        <div class="col-lg-3">
          <button (click)="approvedImage()" class="btn btn-success w-100">Aprovar</button>
        </div>
      </div>
      } @else {
      <div class="col-3">
        <button (click)="closeModal()" class="btn btn-light">Fechar</button>
      </div>
      }

    </div>
  </div>
</div>