@for(item of lstSkus;track $index){
<div class="sku-card mt-3">
    <div class="row">
        <div class="col-10">
            <div class="card-header mt-1">
                <div class="sku-info margin-left">
                    <span class="icone" [innerHTML]="iconeCaixaAzul"></span>
                    <strong>SKU</strong><strong>{{item.codigo}}</strong>
                    @if (item.status === 0) {
                    <span class="badge black">Em estoque</span>
                    } @else if (item.status === 1) {
                    <span class="badge default">Baixo Estoque</span>
                    } @else if (item.status === 2) {
                    <span class="badge red">Sem estoque</span>
                    }
                </div>
            </div>
            <div class="product-name mt-1 margin-left">Produto {{item.produto}}</div>
        </div>
        <div class="col-2 justify-buttons">
            <div class="action-buttons">
                <button class="btn"><span class="icon">
                        <span class="icone" [innerHTML]="iconeOlho"></span>
                    </span> Ver Fotos</button>
                <button class="btn"><span class="icon">
                        <span class="icone" [innerHTML]="iconeLocalizacao"></span>
                    </span> Localizar</button>
            </div>

        </div>
    </div>
    <div class="row">
        <div class="col-3 margin-left">
            <span>CD:</span>
            <br />
            <span class="spanlabel">{{item.cd}}</span>
        </div>
        <div class="col-3">
            <span>Localização:</span>
            <br />
            <span class="spanlabel">{{item.localizacao}}</span>
        </div>
        <div class="col-2">
            <span>Palete:</span>
            <br />
            <span class="spanlabel">{{item.palete}}</span>
        </div>
        <div class="col-2">
            <span>Quantidade:</span>
            <br />
            <span class="spanlabel">{{item.quantidade}} unidade(s)</span>
        </div>
    </div>
    <div class="row mb-1 mt-3">
        <div class="col-3 margin-left">
            <span class="icone" [innerHTML]="iconeCalendario"></span>

            <span style="margin-left: 10px;">Inventário em: </span> <span>{{item.dataInventario | date:
                'dd/MM/yyyy'}}</span>
        </div>
        <div class="col-3">
            <span class="icone" [innerHTML]="iconeCamera"></span>

            <span style="margin-left: 10px;">{{item.quantidadeFotos}}</span> <span> foto(s)</span>
        </div>
    </div>
</div>
}

@if (lstSkus.length === 0) {
<div class="sku-card mt-3">
    <div class="row text-center p-14">
        <div class="col-12">
            <span>Nenhuma informação encontrada</span>
        </div>
    </div>
</div>
}

<div class="sku-card mt-3">
    <div class="row mt-2">
        <div class="col-12">
            <div class="text-content">
                <h2>Resumo da Consulta</h2>
            </div>
        </div>
    </div>
    <div class="row mt-3 mb-2">
        <div class="col-3">
            <div class="resumo-card encontrados">
                <div class="quantidade">{{resumQuery.qtdEncontrados}}</div>
                <div class="descricao">Itens encontrados</div>
            </div>
        </div>

        <div class="col-3">
            <div class="resumo-card em-estoque">
                <div class="quantidade">{{resumQuery.qtdEmEstoque}}</div>
                <div class="descricao">Em estoque</div>
            </div>
        </div>

        <div class="col-3">
            <div class="resumo-card baixo-estoque">
                <div class="quantidade">{{resumQuery.qtdBaixoEstoque}}</div>
                <div class="descricao">Baixao estoque</div>
            </div>
        </div>

        <div class="col-3">
            <div class="resumo-card sem-estoque">
                <div class="quantidade">{{resumQuery.qtdSemEstoque}}</div>
                <div class="descricao">Sem estoque</div>
            </div>
        </div>
    </div>
</div>