/* You can add global styles to this file, and also import other style files */

@import "flatpickr/dist/flatpickr.css";
@import "swiper/swiper-bundle.css";
@import "nouislider/dist/nouislider.css";
@import "quill/dist/quill.snow.css";
@import "quill/dist/quill.bubble.css";
@import 'ngx-toastr/toastr';
@import "assets/scss/icons.scss";
@import "assets/scss/app.scss";
@import "assets/scss/custom.scss";


.text-blue-600 {
    color: rgb(37 99 235);
}

.text-green-600 {
    color: rgb(22 163 74);
}

.text-purple-600 {
    color: rgb(147 51 234);
}

.text-orange-600 {
    color: rgb(234 88 12);
}


h3 {
    font-family: Inter;
}

h4 {
    font-family: Inter;
}

h5 {
    font-family: Inter;
}

p {
    font-family: Inter;
}

span {
    font-family: Inter;
}

div {
    font-family: Inter;
}

.bg-danger-subtle {
    background-color: transparent !important;
    border: 1px solid var(--bs-danger-bg-subtle);
}

.bg-warning-subtle {
    background-color: transparent !important;
    border: 1px solid var(--bs-warning-bg-subtle);
}

.bg-primary-subtle {
    background-color: transparent !important;
    border: 1px solid var(--bs-primary-bg-subtle);
}

.rounded-lg {
    border-radius: .5em;
}

.font-medium {
    font-weight: 500;
}

.text-2xl {
    font-size: 1.5rem;
}

.tracking-tight {
    letter-spacing: -.025em;
}

.leading-none {
    line-height: 1;
}

.font-semibold {
    font-weight: 600;
}

.gap-2 {
    gap: .5rem;
}

.items-center {
    align-items: center;
}

.w-5 {
    width: 1.25rem;
}

.h-5 {
    height: 1.25rem;
}

svg {
    vertical-align: baseline;
}