/* You can add global styles to this file, and also import other style files */

@import "flatpickr/dist/flatpickr.css";
@import "swiper/swiper-bundle.css";
@import "nouislider/dist/nouislider.css";
@import "quill/dist/quill.snow.css";
@import "quill/dist/quill.bubble.css";
@import 'ngx-toastr/toastr';
@import "assets/scss/icons.scss";
@import "assets/scss/app.scss";
@import "assets/scss/custom.scss";


.text-blue-600 {    
    color: rgb(37 99 235);
}

.text-green-600 {
    color: rgb(22 163 74);
}

.text-purple-600 {
    color: rgb(147 51 234);
}

.text-orange-600 {
    color: rgb(234 88 12);
}