<breadcrumb title="Mapa" subTitle="Auditorias" [showBtn]="true" titleBtn="Voltar" urlBtn="/audits/list"
    [isBtnBack]="true" />

<!-- IMPORTAR IMAGEM -->
<app-accordion [startsCollapsed]="true" [title]="'Adicionar imagem ao mapa'"
    style="background-color: white !important; margin-top: 10px">
    <div class="panel-body">
        <form [formGroup]="form">
            <div class="card white-content p-3">
                <div class="row">
                    <div class="col-6">
                        <div class="mb-3">
                            <label class="form-label" [class.required]="sendform && !form.controls['road'].valid">
                                Rua<span class="required">*</span></label>
                            <ng-select placeholder="Selecione a Rua" [items]="lstRoads" bindLabel="description"
                                [loading]="loadingRoads" bindValue="description" formControlName="road">
                            </ng-select>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="mb-3">
                            <label class="form-label" [class.required]="sendform && !form.controls['palete'].valid">
                                Palete<span class="required">*</span></label>
                            <ng-select placeholder="Selecione o Palete" [items]="lstPaletes" bindLabel="description"
                                [loading]="loadingPaletes" bindValue="description" formControlName="palete">
                            </ng-select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <label class="form-label"
                            [class.required]="sendform && (this.uploadComponent?.uploadedFiles || []).length === 0">Imagens<span
                                class="required">*</span></label>
                        <FileUploader />
                    </div>
                </div>
                <div class="row">
                    <div class="p-3 rounded">
                        <div class="row justify-content-end g-2">
                            <div class="col-lg-2">
                                <button (click)="cancel()" class="btn btn-light w-100">Cancelar</button>
                            </div>
                            <div class="col-lg-2">
                                <button (click)="save()" class="btn btn-primary w-100">Salvar</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</app-accordion>

<!-- IMAGENS PENDENTES -->
<app-images-pending [isFilterApplied]="isFilterApplied" (openFilter)="showFilter()" (reloadImages)="getImages()"
    [tabIndex]="tabIndex"></app-images-pending>

<!-- MAPA -->
<div class="row-width row mt-2">
    <div class="col-12 text-end">
        <span>Atualizando em {{ seconds }}s</span><iconify-icon ngbTooltip="Clique para atualizar" (click)="getImages()"
            icon="solar:refresh-circle-bold" class="align-middle icon-refresh cursor-pointer"></iconify-icon>
        <iconify-icon ngbTooltip="Clique para parar" icon="solar:stop-circle-bold" *ngIf="!isStop" (click)="stop()"
            class="align-middle icon-refresh cursor-pointer"></iconify-icon>
        <iconify-icon ngbTooltip="Clique para iniciar" icon="solar:play-circle-bold" *ngIf="isStop" (click)="start()"
            class="align-middle icon-refresh cursor-pointer"></iconify-icon>
    </div>
</div>
<div class="row-width row mt-2" *ngIf="!isLoading">
    <div class="card">
        <div class="card-header">
            <h4 class="mb-2" style="font-size: 18px;align-content: end;">Imagens</h4>
            <ul class="nav nav-tabs">
                <li class="nav-item" *ngFor="let item of lstRoads; let i = index"
                    style="cursor: pointer;text-align: center;width: 60px;">
                    <a (click)="tabIndex = i" class="nav-link active" style="width: 80px;"
                        [ngClass]="{ active: tabIndex == i}">
                        <span [ngClass]="{ active: tabIndex == i}" class="d-none d-sm-block">{{item.description}}</span>
                    </a>
                </li>
            </ul>
        </div>
        <div class="card-body" #scrollContainer>
            <table class="table align-middle mb-0 table-hover table-centered">
                <thead class="bg-light-subtle">
                    <tr class="tr-background">
                        <th class="p-2" *ngFor="let palete of getPaletesByRoad();"><span
                                style="width: max-content;display: block;color: #313B5E;margin: 0 auto;">{{palete}}</span>
                        </th>
                    </tr>
                </thead>

                <tbody>
                    <tr *ngFor="let row of lstRows">
                        <td [ngClass]="{
                            'padding-square': !getImageByRow(palete, row.value)}" class="border relative text-center"
                            *ngFor="let palete of getPaletesByRoad(); let i = index">
                            <div class="cursor-pointer" style="text-align: left !important;"
                                (click)="openModal(palete, row.value)" *ngIf="getImageByRow(palete, row.value)">
                                <span *ngIf="verifyImagePending(palete, row.value)" ngbTooltip="Existe imagem pendente"
                                    class="circle-pending position-absolute topbar-badge fs-10 translate-middle badge bg-warning rounded-pill cursor-pointer"><span
                                        class="visually-hidden">unread messages</span></span>
                                <img style="display: none;margin: 0 auto;"
                                    [ngClass]="{'block': !getImageByRow(palete, row.value).loading }"
                                    src="{{getImageByRow(palete, row.value).url + '?t=' + timestamp}}" height="80"
                                    width="80" (error)="reloadImage(palete, row.value)"
                                    (load)="successImage(palete, row.value)" />

                                <div class="loader-btn" *ngIf="getImageByRow(palete, row.value).loading"></div>
                            </div>
                            <span [ngClass]="{
                                'bg-success': getImageByRow(palete, row.value)?.status?.toUpperCase() === 'SUCCESS' || getImageByRow(palete, row.value)?.status?.toUpperCase() === 'APPROVED', 
                                'bg-info': getImageByRow(palete, row.value)?.status?.toUpperCase() === 'PROCESSING', 
                                'bg-danger': getImageByRow(palete, row.value)?.status?.toUpperCase() === 'ERROR' || getImageByRow(palete, row.value)?.status?.toUpperCase() === 'CANCELED'
                                }" class="mt-1 badge text-white py-1 px-2 bg-success ml-1">
                                @if(getImageByRow(palete, row.value)?.status?.toUpperCase() === 'SUCCESS'){
                                SUCESSO
                                } @else if(getImageByRow(palete, row.value)?.status?.toUpperCase() === 'APPROVED'){
                                APROVADA
                                }@else if(getImageByRow(palete, row.value)?.status?.toUpperCase() === 'PROCESSING')
                                {
                                PROCESSANDO
                                }@else if(getImageByRow(palete, row.value)?.status?.toUpperCase() === 'CANCELED') {
                                CANCELADA
                                }@else if(getImageByRow(palete, row.value)?.status?.toUpperCase() === 'ERROR') {
                                ERRO
                                }
                            </span>

                            <span *ngIf="!getImageByRow(palete, row.value)">{{row.value}}</span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<!-- FILTROS DE IMAGENS PENDENTES -->
<app-filter-menu (closeBackgroundFilter)="changeFilterMenu()">
    <app-filter-images [auditId]="auditId" [lstPaletes]="lstPaletes" [lstRoads]="lstRoads"
        (filterObject)="ApplyFilter($event)" (executeResetFilter)="resetFilter()"></app-filter-images>
</app-filter-menu>
<div *ngIf="showMenuFilter" (click)="changeFilterMenu()" class="offcanvas-backdrop fade show"></div>